@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 143, 143);
}

/* .project1_1{
  background-image: url('projects/INZA_1.jpg');
}
.project1_2{
  background-image: url('projects/INZA_2.jpg');
}
.project1_3{
  background-image: url('projects/INZA_3.jpg');
}
.project2_1{
  background-image: url('projects/BIZ_1.jpg');
}
.project2_2{
  background-image: url('projects/BIZ_2.jpg');
}
.project2_3{
  background-image: url('projects/BIZ_3.jpg');
}
.project3_1{
  background-image: url('projects/AHORA_1.jpg');
}
.project3_2{
  background-image: url('projects/AHORA_2.jpg');
}
.project3_3{
  background-image: url('projects/AHORA_3.jpg');
}
.project4_1{
  background-image: url('projects/PORTFOLIO_1.jpg');
}
.project4_2{
  background-image: url('projects/PORTFOLIO_2.gif');
}
.project4_3{
  background-image: url('projects/PORTFOLIO_3.jpg');
}
.project5_1{
  background-image: url('projects/NPM1.jpg');
}
.project5_2{
  background-image: url('projects/NPM2.gif');
}
.project5_3{
  background-image: url('projects/NPM3.gif');
}
.project6_1{
  background-image: url('projects/TALK_1.jpg');
}
.project6_2{
  background-image: url('projects/TALK_2.jpg');
}
.project6_3{
  background-image: url('projects/TALK_3.jpg');
} */


