.homeheading{
  height: 90vh;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25vw;
}

.homeheading::before{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    opacity: 0.3;
}

.heading{
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin: 0 1rem;
}

.subheading{
  position: relative;
  font-size: 19px;
}

.cta1{
  padding: 0.5rem 2.5rem;
  margin-top: 2rem;
  position: relative;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  font-size: 19px;
}

.cta1:hover{
  transform: translateY(-5px);
}

.cta2{
  font-size: 14px;
  text-decoration: underline;
}

.cta2:hover{
  transform: translateY(-5px);
}

.projectmain{
  width: 45%;
  margin: 4rem auto;
  padding: 0 2rem;
  border: 3px dashed;
}

.projectIcon{
  height: 60px;
  width: 60px;
  padding: 1rem;
  border-radius:50%;
  margin-bottom: 1rem;
  border: 4px solid;
  margin-left: auto;
  cursor: pointer;
  /* background-image: url('Untitled\ design.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; */
}

.projectContent{
  transform: translateY(-2.1rem)
}

.projectTitle{
  font-size: 18px;
}

.projectSubTitle{
  font-size: 14px;
  margin-bottom: 1rem;
}

.workheading{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

.homeWorkSection{
  padding: 2rem;
}

.homeSkillSection{
  padding: 4rem 2rem;
}

.cta3{
  padding: 0.4rem 2.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  font-size: 16px;
}

.cta3:hover{
  transform: translateY(-5px);
}

.cta4{
  padding: 0.4rem 2.5rem;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  font-size: 16px;
}

.cta4:hover{
  transform: translateY(-5px);
}

.skills{
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0;
}

.line{
  width: 2px;
  height: auto;
}

.skillList{
  padding: 1rem 0;
}

.skillHeading{
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.homeAboutSection{
  height: 70vh;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
}

.homeAboutSection::before{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('dark_about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    opacity: 0.3;
}

.aboutText{
  text-align: left;
  width: 40%;
  margin-top: 1rem;
  position: relative;
}

@media only screen and (max-width: 850px){
  .projectmain{
    width: 70%;
  }

  .homeheading{
    padding: 0 15vw;
  }
  .heading{
    font-size: 35px;
  }
  .subheading{
    font-size: 17px;
  }
  .workheading{
    font-size: 45px;
  }
  .skills{
    display: block;
    width: fit-content;
    margin: auto;
    padding: 2rem 0;
  }
  .line{
    width: 100%;
    height: 2px;
    margin: 1rem 0;
  }
  .skillList{
    padding: 1rem 3rem;
  }
  .aboutText{
    text-align: left;
    width: 70%;
    position: static;
  }
}

@media only screen and (max-width: 535px){
  .homeheading{
    padding: 0 10vw;
  }
  .heading{
    font-size: 22px;
  }
  .subheading{
    font-size: 15px;
  }
  .cta1{
    padding: 0.3rem 1.7rem;
    margin-top: 1rem;
    font-size: 15px;
  }
  .projectmain{
    width: 80%;
    padding: 0 1rem;
    margin: 3rem auto;
  }
  .projectIcon{
    height: 50px;
    width: 50px;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    border: 3px solid white;
  }
  .projectContent{
    transform: translateY(-1.8rem)
  }
  .projectSubTitle{
    margin-bottom: 0.5rem;
  }
  .workheading{
    font-size: 40px;
  }
  .homeWorkSection{
    padding: 1rem;
  }
  .homeAboutSection{
    height: 80vh;
  }
  .aboutText{
    text-align: left;
    width: 100%;
  }
  .homeSkillSection{
    padding: 2rem 1rem;
  }
}
