.logo{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
  }

  .navbar{
    z-index: 5000;
  }

  .navlinks {
    padding: 0 1.5rem;
    font-size: 15px;
  } 

.navlinks a{
    opacity: 80%;
    position: relative;
    text-transform: uppercase;
  } 

.navlinks a:hover{
    opacity: 100%;
}

.navlinks a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.navlinks a:hover:after {
  width: 100%;
  transition: 0.25s linear;
}

.footermain{
  padding: 2rem;
  text-align: center;
  color: grey;
}

.footercontent{
  font-size: 16px;
}

@media only screen and (max-width: 950px){
  .logo{
    font-size: 20px;
  }
  .navlinks {
    padding: 0.5rem;
    font-size: 12px;
  } 
}

@media only screen and (max-width: 380px){
  .footermain{
    padding: 2rem 1rem;
  }
  .footercontent{
    font-size: 14px;
  }
}

