.workHeading{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size:50px;
    padding: 2rem;
}

.workmain{
  padding: 0 20vw;
}

.parentofparentcard{
  display: flex;
}

.parentcard{
    padding: 1rem;
    width:fit-content;
}

.imageandsocials{
    display: flex;
    align-items: center;
}

.card{
    height: 35vmin;
    width: 60vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    padding: 0.2rem;
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin: 0.5rem 0;
}

.arrows{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    cursor: pointer;
}

.cardtitle{
    display: flex;
    justify-content: space-between;
    width: 60vmin;
}

.cardbottom{
    display: flex;
    width: 60vmin;
    align-items: center;
}

.socialIcon{
    border: 2px solid black;
    padding: 0.4rem;
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem 0 1rem 1rem;
    cursor: pointer;
}

.projtitle{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.projdescription{
    font-size: 14px;
}

.cta{
    padding: 0.3rem 2rem;
    border-radius: 50px;
    border: 1px solid red;
    margin-left: 0.5rem;
    color: red;
    font-size: 14px;
}

.carouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(237, 237, 238);
  }

  .carousel {
    overflow: hidden;
    background-color: rgb(237, 237, 238);
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }  

  .indicators {
    display: flex;
    justify-content: center;
  }
  
  .indicators > button {
    margin: 5px;
  }

  .indicators > button.active {
    color: rgb(202, 42, 42);
  }

@media only screen and (max-width: 850px){
  .parentofparentcard{
    display: block;
  }
  .parentcard{
      margin: 0 auto 3rem auto ;
  }
  .workmain{
    padding: 0 10vw;
  }
}

@media only screen and (max-width: 600px){
  .workmain{
    padding: 0;
  }

    .workHeading{
        font-size:35px;
        padding: 1rem;
        margin: 1rem auto;
    }
    .projtitle{
        font-size: 20px;
        margin-bottom: 0.5rem;
    }
    .cardtitle{
        display: block;
    }
    .card{
        height: 45vmin;
        width: 70vmin;
    }
    .projdescription{
        font-size: 10px;
    }
    .socialIcon{
        padding: 0.3rem;
        height: 2rem;
        width: 2rem;
    }
}
